<body class="bodyhome">
    @{
        ViewData["Title"] = "Home Page";
    }
<link rel="stylesheet" href="./css/site.css" />

    <div class="text-center">
    <h1 class="display-4">Bem vindo(a) ao Laboratório V.F.R</h1>

</div>
</body>
